.user-tooltip-card {
  width: 250px;
  border-radius: 10px;
  border: none !important;
  box-shadow: none !important;
}


.tooltip-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tooltip-info {
  flex: 1;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
}

.user-email {
  color: var(--el-text-color-secondary);
  font-size: 13px;
}

.tooltip-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stat-item {
  flex: 1;
}

.stat-number {
  font-weight: bold;
  color: var(--el-color-primary);
}

.stat-label {
  font-size: 12px;
  color: var(--el-text-color-secondary);
}